@model LimeMailWebApp.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MailMessageId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MailMessageId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsSent)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">


        <span id="confirmDeleteSpan_@Model.Id" style="display:none">
            <span>Are you sure you want to delete?</span>
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="#" class="btn btn-primary" onclick="confirmDelete('@Model.Id', false)">No</a>
        </span>

        <span id="deleteSpan_@Model.Id">
            <a href="#" class="btn btn-danger"
               onclick="confirmDelete('@Model.Id', true)">Delete</a>
        </span>
    </form>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
 }