@model IEnumerable<LimeMailWebApp.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSent)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MailMessageId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MailMessageId }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.MailMessageId */ })
            </td>
        </tr>
}
    </tbody>
</table>
